<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>READERS | <%= book.name %></title>
</head>
<body>

    <%- include("../partials/navbar") %>

    <div class="book-details-container">
        <h1 style="text-align: center; margin-bottom: 20px;">Kitap Detayları</h1>
        <div class="book-details">
            <ul class="list-group">
                <li class="list-group-item"><span>Kitap İsmi</span><span><%= book.name %></span></li>
                <li class="list-group-item"><span>Kitap Yazarı</span><span><%= book.writer %></span></li>
                <li class="list-group-item"><span>Sayfa Sayısı</span><span><%= book.pageCount %></span></li>
                <li class="list-group-item"><span>Durum</span><span><%= book.status %></span></li>
                <li class="list-group-item"><span>Başlangıç Tarihi</span><span><%= book.startDate %></span></li>
                <li class="list-group-item"><span>Biriş Tarihi</span><span><%= book.endDate %></span></li>
                <% if (book.status=="Yarıda Bırakıldı") { %>
                    <li class="list-group-item islem">
                        <form method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button name="btn" value="Okundu" class="btn btn-success">Okudum</button>
                            <button name="btn" value="Okunuyor" class="btn btn-primary">Okumaya Devam Et</button>
                         </form>
                    </li>
                   <% } else if (book.status=="Okunuyor") { %>
                    <li class="list-group-item islem">
                        <form method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button name="btn" value="Okundu" class="btn btn-success">Okudum</button>
                            <button name="btn" value="Yarıda Bırakıldı" class="btn btn-danger">Yarıda Bırak</button>
                         </form>
                    </li>
                   <% } %>
            </ul>
        </div>
        <div class="back-button"><a href="/kitap-listesi" class="btn btn-secondary">Geri Dön</a></div>
    </div>

    <%- include("../partials/footer") %>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>