<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kitap Detayları</h1>
    <a href="/">Anasayfa</a>
    <h2><span style="color:orangered">Kitap İsmi: </span><%= book.name %></h2>
    <h2><span style="color:orangered">Kitap Yazarı: </span><%= book.writer %></h2>
    <h2><span style="color:orangered">Durum: </span><%= book.status %></h2>
    <h2><span style="color:orangered">Kayıt Tarihi: </span><%= book.date %></h2>
    <% if (book.status=="Yarıda Bırakıldı") { %>
     <form method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button name="btn" value="Okundu">Okudum</button>
        <button name="btn" value="Okunuyor">Okumaya Devam Et</button>
     </form>
    <% } else if (book.status=="Okunuyor") { %>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button name="btn" value="Okundu">Okudum</button>
            <button name="btn" value="Yarıda Bırakıldı">Yarıda Bırak</button>
         </form>
    <% } %>
</body>
</html>