<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>READERS | Profil</title>
</head>
<body>
    <%- include("../partials/navbar") %>

    <% if (message.text) { %>
        <div class="alert-wrap-2 alert <%= message.color %>" role="alert" style="margin: 20px 0;">
            <%= message.text %>
        </div>
        <script>
            setTimeout(()=>{
                document.querySelector(".alert-wrap-2").style.display = "none";
            },3000);
        </script>
    <% } %>

    <div class="changePasswordDiv">
        <form method="post">
            <i class="fa-solid fa-x close-icon"></i>
            <h2>Şifre Yenile</h2>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3">
                <input type="password" class="form-control password" id="exampleInputPassword1" name="password" placeholder="Şifreniz">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control newPassword" id="exampleInputPassword1" name="newPassword" placeholder="Yeni Şifreniz">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control newPassword2" id="exampleInputPassword1" name="newPassword2" placeholder="Yeni Şifreniz Tekrar">
            </div>
            <p style="color:orange;" class="new-password-alert">Yeni şifreniz en az 9 karakter olmalıdır.</p>
            <p class="change-alert" style="color:orange;"></p>
            <button class="btn btn-primary">Kaydet</button>
        </form>
    </div>

    <div class="profile-container">
        <h1 style="text-align:center; margin-bottom: 30px;">PROFİL</h1>
        <ul class="list-group">
            <li class="list-group-item sa"><span>İsim </span><span><%= user.name %></span></li>
            <li class="list-group-item sa"><span>Kullanıcı Adı </span><span><%= user.username %></span></li>
            <li class="list-group-item sa"><span>Okunan Kitap Sayısı </span><span><%= bookRead %></span></li>
            <li class="list-group-item sa"><span>Okunan Sayfa Sayısı </span><span><%= pageRead %></span></li>
            <li class="list-group-item sa"><a href="/kitap-ekle" class="btn btn-primary">Kitap Ekle</a><a href="/kitap-listesi" class="btn btn-primary">Kitap Listesi</a></li>
            <li class="list-group-item sa"><button class="changeButton btn btn-warning">Şifremi Değiştir</button><a href="/cikis-yap" class="btn btn-danger">Çıkış Yap</a></li>
        </ul>
    </div>

    <%- include("../partials/footer") %>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        const formDiv = document.querySelector(".changePasswordDiv");
        const form = document.querySelector("form");
        const password = document.querySelector(".password");
        const newPassword = document.querySelector(".newPassword");
        const newPassword2 = document.querySelector(".newPassword2");
        const changeButton = document.querySelector(".changeButton");
        const changeAlert = document.querySelector(".change-alert");
        const icon = document.querySelector(".close-icon");

        document.addEventListener("keyup",()=>{
            if(newPassword.value.length>8){
                document.querySelector(".new-password-alert").style.color = "greenyellow";
            }else{
                document.querySelector(".new-password-alert").style.color = "orange";
            }
        });

        form.addEventListener("submit",(e)=>{
            if(password.value.length<9){
                changeAlert.textContent = "Mevcut şifreniz yanlış.";
                setTimeout(()=>{
                    changeAlert.textContent = "";
                },3000);
                return e.preventDefault();
            }else if(newPassword.value.length<9){
                changeAlert.textContent = "Şifreniz en az 9 karakter olmalıdır.";
                setTimeout(()=>{
                    changeAlert.textContent = "";
                },3000);
                return e.preventDefault();
            }else if(newPassword.value!=newPassword2.value){
                changeAlert.textContent = "Şifreler uyuşmuyor.";
                setTimeout(()=>{
                    changeAlert.textContent = "";
                },3000);
                return e.preventDefault();
            }
        });

        changeButton.addEventListener("click",()=>{
            formDiv.style.display="flex";
        });
        icon.addEventListener("click",()=>{
            formDiv.style.animation="changeBottomAnim 0.5s ease-in-out";
            setTimeout(()=>{
                formDiv.style.display="none";
                formDiv.style.animation="changeTopAnim 0.5s ease-in-out";
            },500);
        });
    </script>
</body>
</html>